body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: transparent;
    overflow: hidden;
}

#iframe {
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
}