html {
    margin-left: 16px;
}

.ts-option-header {
    margin-bottom: 0.3em;
}

.text-input {
    width: 80%;
    padding: 5px 11px;
    box-sizing: border-box;
}

#save-button {
    margin-top: 20px;
}

#log {
    margin-top: 20px;
}

.input-wrapper {
    margin-right: 5px;
    clear: right;
    float: right;
}

.config-label {
    margin-right: 20px;
}

.container {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.teamscale-config-group {
    margin-bottom: 15px;
    width: 100%;
}